<div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="" class="d-md-none">
        <mat-icon>menu</mat-icon>
      </button>
      <span><a routerLink="/" style="color:#fff; text-decoration:none">Tasks</a></span>
      <div style="display:none" class="header_links d-md-inline">
        <a [routerLink]="['users', 'list']"><mat-icon style="vertical-align: middle;">people</mat-icon> users</a>
      </div>
      <div style="display:none" class="header_links d-md-inline" *ngIf="isConnected | async">
        <a [routerLink]="['tasks']"><mat-icon style="vertical-align: middle;">group_work</mat-icon> Tasks</a>
      </div>
      <span class="example-spacer"></span>
      <span style="display:none" class="d-md-inline" *ngIf="!(isConnected | async)">
        <a [routerLink]="['users', 'register']" style="color:#fff; text-decoration: none;">
          <button mat-button style="border: 1px solid #333333">REGISTER</button>
        </a> &nbsp; 
        <a [routerLink]="['users', 'login']" style="color:#333333; text-decoration: none;">
          <button mat-flat-button>LOGIN</button>
        </a>
      </span>
      <span *ngIf="!(isConnected | async)">
        <button mat-icon-button mat-button [matMenuTriggerFor]="registerLogin" class="example-icon" aria-label="" class="d-md-none">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #registerLogin="matMenu">
          <a [routerLink]="['users', 'register']" style="color:#333333; text-decoration: none;"><button mat-menu-item>REGISTER</button></a>
          <a [routerLink]="['users', 'login']" style="color:#333333; text-decoration: none;"><button mat-menu-item>LOGIN</button></a>
        </mat-menu>
      </span>
      <span *ngIf="isConnected | async">
        <button mat-icon-button mat-button [matMenuTriggerFor]="profile" class="example-icon" aria-label="Profile">
          <img [src]="(user | async)?.image" alt="Lagrida" class="avatar" />
        </button>
        <mat-menu #profile="matMenu">
          <a [routerLink]="['users', 'profile']" style="color:#333333; text-decoration: none;"><button mat-menu-item>PROFILE</button></a>
          <a (click)="logout()" style="text-decoration: none;"><button mat-menu-item style="color:#CC3333">LOGOUT</button></a>
        </mat-menu>
      </span>
    </mat-toolbar>
</div>
