<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 p-2 text-center">
            <app-side-img [infos]="{image:user.image, username:user.username, roles: (user.roles || [])}"></app-side-img>
        </div>
        <div class="col-lg-8 col-md-12 p-2">
            <mat-card>
                <div style="float:left">
                    <h1><b>{{ user.username }}</b></h1>
                </div>
                <div style="float:right" *ngIf="isProfile">
                    <a routerLink="/profile/edit">
                        <button mat-icon-button class="example-icon" aria-label="">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </a>
                </div>
                <div style="clear:both"></div>
                <mat-divider></mat-divider>
                <div class="fluid-container my-4">
                    <div class="row my-2">
                        <div class="col-lg-6 col-md-12">
                            <div class="text-muted my-1" style="font-size:15px">EMAIL</div>
                            <div class="my-1" style="font-size:15px">{{user.email}}</div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="text-muted my-1" style="font-size:15px">GENDER</div>
                            <div class="my-1" style="font-size:15px">{{user.gender}}</div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-6 col-md-12">
                            <div class="text-muted my-1" style="font-size:15px">BIRTHDAY</div>
                            <div class="my-1" style="font-size:15px">{{user.birthday}}</div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="text-muted my-1" style="font-size:15px">REGISTRED AT</div>
                            <div class="my-1" style="font-size:15px">{{user.created_at}}</div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-6 col-md-12">
                            <div class="text-muted my-1" style="font-size:15px">FULL NAME</div>
                            <div class="my-1" style="font-size:15px">{{user.name}}</div>
                        </div>
                        <div class="col-lg-6 col-md-12"></div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
