<mat-drawer-container hasBackdrop="true" style="background: #F4F6F8">
  <mat-drawer style="width: 200px" #drawer mode="over">
      <div class="my-3"></div>
      <a routerLink="/users">
          <button mat-button style="width:100%" (click)="drawer.toggle()">
              <mat-icon style="vertical-align: middle;">people</mat-icon> users
          </button>
      </a>
  </mat-drawer>
  <app-header [drawer]="drawer"></app-header>
  <div class="container" *ngIf="errorMessage | async as error">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 col-sm-10 my-2">
            <div style="text-align: center">
                <div class="alert alert-danger">
                    <b>Error:</b> {{ error }}
                </div>
            </div>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
  </mat-drawer-container>
