<div class="text-center">
    <div *ngIf="errorMessage | async as error">
        <div style="text-align: center">
            <div class="alert alert-danger">
                {{ error }}
            </div>
        </div>
    </div>
    <div class="my-2">
        <button mat-raised-button color="warn" (click)="resetCanvas()">Reset</button>
    </div>
    <div>
        <canvas #canvas height="350" width="620" style="border: 2px solid #333333"></canvas>
    </div>
    <div class="my-1 text-center mx-auto" style="width: 624px">
        <div class="progress progress-lg">
            <div *ngIf="filesStatus | async as files">
                <div class="progress-bar" *ngIf="files != null && files[0] != undefined" [ngStyle]="{ width: files[0].percent+ '%' }">
                {{ files[0].percent }} %
                </div>
            </div>

        </div>
    </div>
    <div class="my-2">
        <button [disabled]="submitLoading | async" mat-raised-button style="background-color: #00B2B8; color: #FFFFFF; font-size: 24px; padding: 6px 20px" (click)="addSignature()">Sign & complete task</button>
    </div>
</div>
